@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    color: #333;
}

/*index - Mxolisi*/
h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

p{
    font-size: 18px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}

button{
    display: block;
    margin: 20px auto;
    padding: 12px 25px;
    background-color: #7494ec;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/*login_register - Mxolisi*/
.container{
    margin: 0 15px;
}

.form-box{
    width: 100%;
    padding: 20px;
    max-width: 450px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.form-box.active{
    display: block;
}

h2{
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

input,
select{
    width: 100%;
    padding: 20px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

button{
    width: 100%;
    padding: 12px;
    background: #7494ec;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}

button:hover{
    background: #6884d3;
}

p{
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}

p a{
    text-decoration: none;
    color: #577fee;
}

p a:hover{
    text-decoration: underline;
}

.error-message{
    background: #ffdddd;
    color: #d8000c;
    font-size: 16px;
    padding: 12px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 6px;
}

.success-message{
    background: #ddffdd;
    color: #006400;
    font-size: 16px;
    padding: 12px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 6px;
}